{{define "title"}}Login{{end}}

{{define "style"}}
{{end}}

{{define "content"}}
<form action="/login" method="post" name="">
    <input type="hidden" name="csrf_token" value="{{.CSRF}}"><br>


    <input type="text" name="email" value="" placeholder="email"><br>
    <p>{{.EmailErrorMess}}</p>

    <input type="password" name="password" value="" placeholder="password"><br>
    <p>{{.PasswordErrorMess}}</p>


    <button type="submit">Submit</button>
</form>
{{end}}

{{define "modal"}}
{{end}}

{{define "script"}}
{{end}}